<div class="calendar">
    <div class="calendar__header">
      <button (click)="setMonth(-1)">‹</button>
      <span>{{ calendarDate() | date:'LLLL yyyy':'ru-RU' }}</span>
      <button (click)="setMonth(1)">›</button>
    </div>
    <div class="calendar__days">
      <div class="calendar__weekday" *ngFor="let d of ['П','В','С','Ч','П','С','В']">{{ d }}</div>
      <div 
        class="calendar__day"
        *ngFor="let week of weeks(); let w = index"
        [ngClass]="{ 'calendar__today': isToday(day, calendarDate()), 'calendar__selected': isSelected(day, calendarDate()) }"
        *ngFor="let day of week"
        (click)="day && select(day)">
        {{ day || '' }}
      </div>
    </div>
  </div>
  