:host {
  display: block;
}

.avatar {
  width: 180px;
  height: 315px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;
}

.avatar__video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}