.history {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: transparent;
  }

.history__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 0 16px;
  position: relative;
  z-index: 10;
}

.history__menu-btn {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 12px;
    padding: 0.75rem;
    color: white;
    cursor: pointer;
    transition: background 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    &:hover {
        background: rgba(255, 255, 255, 0.3);
    }
}

.history__label {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.session-list {
    flex: 1 1 auto;
    overflow-y: auto;
    max-height: calc(100vh - 260px); // подбери под свой макет!
    padding: 32px 0;  // мягкий зазор сверху и снизу для плавности
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 10px 36px -15px rgba(90,50,200,0.04);
  
    /* Webkit-based browsers */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      margin: 8px 0; /* отступ сверху и снизу для скроллбара */
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(154 62 227 / 30%);
      border-radius: 8px;
      border: 2px solid transparent;
      background-clip: content-box;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(154 62 227 / 30%);
    }
  
    /* Firefox */
    scrollbar-color: rgb(154 62 227 / 30%) transparent;
    scrollbar-width: thin;
  }
  
  .session-card {
    background: #fff;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: 0 2px 12px rgba(0,0,0,.07);
  
    &--completed { border-left: 5px solid #59c895; }
    &--canceled { border-left: 5px solid #ff5f6d; }
  }
  
  .session-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .session-time { font-size: 1.1rem; font-weight: 700; }
  
  .session-minutes {
    font-weight: 600;
    border-radius: 12px;
    padding: 0.3rem 1rem;
    color: #fff;
    background: #59c895;
    transition: background 0.2s;
  
    &--completed {
      background: #59c895;
    }
    &--canceled {
      background: #ff5f6d;
    }
  }
  
  .session-tag { font-size: 0.95rem; opacity: 0.8; color: #666; }
  .session-comment { margin-top: 0.5rem; font-size: 0.9rem; color: #888; }